.jumbotron

{

    width:100%;
    color:#ffffff;
    text-align:center;
    background-color: #000033;
    opacity: 0.2;
}

.container-fluid
{
    padding: 0px;
}

.class1
{
    background-color: white;
    opacity: 0.8;
    text-align: center;
    border: 1px solid #000033;
    border-radius: 10px;
}