@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./image.jpg);
  background-size:cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.navbar1{
  width:100%;
font-size:13pt;

}

h3
{
  color:black;
}


.cont1
{

border:1px solid #00001a;
border-radius:5px;
background-color:#e6e6ff;
opacity:0.9;
color:black;
padding: 3%;

}

#formdisabled

{
display:none;
}

#prj
{
    border:1px solid #00001a;
    border-radius:5px;


}

#bt1
{
    border:1px solid #00001a;
    border-radius:5px;
    height: 40px;
    width:100px;
    font-size: 12pt;
    font-weight: 200;
    background-color: #000033;
    opacity:0.6;

}


#ass1
{

  border:1px solid #6a6a83;
    border-radius:5px;

}

#asse
{

  border:1px solid #6a6a83;
    border-radius:5px;

}

#type
{
  border:1px solid #6a6a83;
  border-radius:5px;
}

#stat1
{
  border:1px solid #6a6a83;
  border-radius:5px;
}

#stat2
{
  border:1px solid #6a6a83;
  border-radius:5px;
}

#prj1
{
  border:1px solid #00001a;
  border-radius:5px; 
}

#status1
{
  border:1px solid #00001a;
  border-radius:5px; 
}

#typeissue
{
  border:1px solid #00001a;
  border-radius:5px; 
}


#prjtitle
{
  border:1px solid #00001a;
  border-radius:5px; 
}

#otherid
{
  border:1px solid #00001a;
  border-radius:5px; 

}